@import 'tailwindcss';
@config '../tailwind.config.js';

@plugin "daisyui" {
    themes: light --default;
}

@theme {
    --color-pri: #133E87;
    --color-secondary: #608BC1;
    --color-light-blue: #CBDCEB;
    --color-yellow: #F3A83C;
    --color-ivory: #F3F3E0;
    --color-background: #FDFDFF;
    --font-poppins: "Poppins";
}

html, body {
    @apply font-poppins text-black;
}

